<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>App Consulta Archivado</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./css/styles.css">
		<link rel="shortcut icon" href="./img/icon.ico">
	</head>
	<body>
		
		<div class="contenido">
		<div class="container-fluid">
			<div class="row">
				<div class="container-fluid text-center color-banco">
					<img src="./assets/icon.ico" class="logito">
					<h1>App Consulta Archivado</h1>
				</div>

				<div class="text-center m-4">
					<a href="/consulta"><button class="btn btn-banco"><i class="fa fa-arrow-left"></i> Volver al inicio</button></a>				
				</div>

				<div class="forma mt-4">
					<div class="input-group">						
							<input class="form-control" type="text" name="myInput" placeholder="..." contenteditable="true" id="myInput">
							<div class="input-group-append">
								<i class="fa fa-search input-group-text"></i>
							</div>
					</div>	
				</div>
					

				<div class="">
					<div class="">
						<table class="table table-bordered table-striped m-2 table-sm"> 
							<thead class="card-banco ">
							    <tr>
							      <th scope="col" class="align-middle text-center">NM</th>
							      <th scope="col" class="align-middle text-center">Cedula</th>
							      <th scope="col" class="align-middle text-center">Nombre</th>
							      <th scope="col" class="align-middle text-center">Fecha/Hora</th>
								  <th scope="col" class="align-middle text-center">Monto Solicitado</th>
								  <th scope="col" class="align-middle text-center">Monto Aprobado</th>
							      <th scope="col" class="align-middle text-center">Observación</th>
							      <th scope="col" class="align-middle text-center">Cargas BdV</th>
							      <th scope="col" class="align-middle text-center">Otras Cargas</th>
							      <th scope="col" class="align-middle text-center">Ingresos BdV</th>
							      <th scope="col" class="align-middle text-center">Otros Ingresos</th>
							      <th scope="col" class="align-middle text-center">Ingresos USD</th>
							      <th scope="col" class="align-middle text-center">Califica Archivo</th>
							      <th scope="col" class="align-middle text-center">Tipo Cliente</th>
							      <th scope="col" class="align-middle text-center">Canal</th>
							      <th scope="col" class="align-middle text-center">Estado</th>
							      <th scope="col" class="align-middle text-center">Proyectos</th>
							      <th scope="col" class="align-middle text-center">Area</th>
								  <th scope="col" class="align-middle text-center">Sector</th>
							      <th scope="col" class="align-middle text-center">Capital de Trabajo</th>
							      <th scope="col" class="align-middle text-center">Adquisicion</th>
							      <th scope="col" class="align-middle text-center">Otros</th>
							      <th scope="col" class="align-middle text-center">Producto</th>
							      <th scope="col" class="align-middle text-center">Actividad Economica</th>
							      <th scope="col" class="align-middle text-center">Grupo Economico</th>
							    </tr>
							</thead>
							<tbody id="myTable">
								<% data.forEach((item) => { %>
							    <tr>
							      <td class="align-middle text-center"><%= item.NM %></td>
							      <td class="align-middle text-center"><%= item.CEDULA %></td>
							      <td class="align-middle text-center"><%= item.NOMBRE %></td>
							      <td class="align-middle text-center"><%= item.FECHA_HORA %></td>
								  <td class="align-middle text-center"><%= item.MONTO_SOLICITADO %></td>
							      <td class="align-middle text-center"><%= item.MONTO_APROBADO %></td>
							      <td class="align-middle text-center"><%= item.OBSERVACION %></td>
							      <td class="align-middle text-center"><%= item.CARGAS_BDV %></td>
							      <td class="align-middle text-center"><%= item.OTRAS_CARGAS %></td>
							      <td class="align-middle text-center"><%= item.INGRESOS_BDV %></td>
							      <td class="align-middle text-center"><%= item.OTROS_INGRESOS %></td>
							      <td class="align-middle text-center"><%= item.INGRESOS_USD %></td>							      
							      <td class="align-middle text-center"><%= item.CALIFICA_ARCHIVO %></td>							      
							      <td class="align-middle text-center"><%= item.TIPO_CLIENTE %></td>
							      <td class="align-middle text-center"><%= item.CANAL %></td>
							      <td class="align-middle text-center"><%= item.ESTADO %></td>
							      <td class="align-middle text-center"><%= item.PROYECTOS %></td>
							      <td class="align-middle text-center"><%= item.AREA %></td>
								  <td class="align-middle text-center"><%= item.SECTOR %></td>
							      <td class="align-middle text-center"><%= item.CAPITAL_TRABAJO %></td>
							      <td class="align-middle text-center"><%= item.ADQUISICION %></td>
							      <td class="align-middle text-center"><%= item.OTROS %></td>
							      <td class="align-middle text-center"><%= item.PRODUCTO %></td>
							      <td class="align-middle text-center"><%= item.GRUPO_ECONOMICO %></td>
							      <td class="align-middle text-center"><%= item.ACTIVIDAD_ECONOMICA %></td>
							    </tr>
							    <% }); %>
							</tbody>
						</table>
						</div>
						<footer class="page-footer">			
							<p>Gerencia Admisión Crédito Estandarizado - Banco de Venezuela</p>			
						</footer>
					</div>
				</div>
			</div>
			<div class="text-center mt-4 mb-4">
				<a href="/consulta"><button class="btn btn-banco"><i class="fa fa-arrow-left"></i> Volver al inicio</button></a>				
			</div>
		</div>

		<script src="js/jquery.min.js"></script>
	    <script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="js/script.js"></script>
	</body>
</html>
