<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>App Consulta Archivado</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./css/styles.css">
		<link rel="shortcut icon" href="./img/icon.PNG">
	</head>
	<body>
		
		<div class="contenido">
		<div class="container-fluid">
			<div class="row">
				<div class="container-fluid text-center color-banco">
					<img src="./assets/icon.png" class="img-thumbnail">
					<h1>App Consulta Archivado</h1>
				</div>

				<div class="text-center m-4">
					<a href="/consulta"><button class="btn btn-banco"><i class="fa fa-arrow-left"></i> Volver al inicio</button></a>				
				</div>

				<div class="forma mt-4">
					<div class="input-group">						
							<input class="form-control" type="text" name="myInput" placeholder="..." contenteditable="true" id="myInput">
							<div class="input-group-append">
								<i class="fa fa-search input-group-text"></i>
							</div>
					</div>	
				</div>
					

				<div class="">
					<div class="">
						<table class="table table-bordered table-striped m-2 table-sm"> 
							<thead class="card-banco ">
							    <tr>
							      <th scope="col" class="align-middle text-center">NM</th>
							      <th scope="col" class="align-middle text-center">Cedula</th>
							      <th scope="col" class="align-middle text-center">Nombre</th>
							      <th scope="col" class="align-middle text-center">Fecha/Hora</th>
							      <th scope="col" class="align-middle text-center">Limite Consolidado</th>
							      <th scope="col" class="align-middle text-center">Aprobado Referido</th>
							      <th scope="col" class="align-middle text-center">Observación</th>
							      <th scope="col" class="align-middle text-center">Referido</th>
							      <th scope="col" class="align-middle text-center">Referido por</th>
							      <th scope="col" class="align-middle text-center">Cargas BdV</th>
							      <th scope="col" class="align-middle text-center">Ingresos</th>
							      <th scope="col" class="align-middle text-center">Otras Cargas</th>
							      <th scope="col" class="align-middle text-center">Límite 1</th>
							      <th scope="col" class="align-middle text-center">Límite 2</th>
							      <th scope="col" class="align-middle text-center">Límite 3</th>
							      <th scope="col" class="align-middle text-center">Límite 4</th>
							      <th scope="col" class="align-middle text-center">Nro TDC 1</th>
							      <th scope="col" class="align-middle text-center">Nro TDC 2</th>
							      <th scope="col" class="align-middle text-center">Nro TDC 3</th>
							      <th scope="col" class="align-middle text-center">Nro TDC 4</th>
							      <th scope="col" class="align-middle text-center">Califica Archivo</th>
							      <th scope="col" class="align-middle text-center">Limite Consolidado USD</th>
							      <th scope="col" class="align-middle text-center">Limite Consolidado IDI</th>
							    </tr>
							</thead>
							<tbody id="myTable">
								<% data.forEach((item) => { %>
							    <tr>
							      <td class="align-middle text-center"><%= item.NM %></td>
							      <td class="align-middle text-center"><%= item.CEDULA %></td>
							      <td class="align-middle text-center"><%= item.NOMBRE %></td>
							      <td class="align-middle text-center"><%= item.FECHA_HORA %></td>
							      <td class="align-middle text-center"><%= item.LIMITE_CONSOLIDADO %></td>
							      <td class="align-middle text-center"><%= item.APROBADO_REFERIDO %></td>
							      <td class="align-middle text-center"><%= item.OBSERVACION %></td>
							      <td class="align-middle text-center"><%= item.REFERIDO %></td>
							      <td class="align-middle text-center"><%= item.REFERIDO_POR %></td>
							      <td class="align-middle text-center"><%= item.CARGAS_BDV %></td>
							      <td class="align-middle text-center"><%= item.INGRESOS %></td>
							      <td class="align-middle text-center"><%= item.OTRAS_CARGAS %></td>
							      <td class="align-middle text-center"><%= item.LIMITE_1 %></td>
							      <td class="align-middle text-center"><%= item.LIMITE_2 %></td>
							      <td class="align-middle text-center"><%= item.LIMITE_3 %></td>
							      <td class="align-middle text-center"><%= item.LIMITE_4 %></td>
							      <td class="align-middle text-center"><%= item.NRO_TDC_1 %></td>
							      <td class="align-middle text-center"><%= item.NRO_TDC_2 %></td>
							      <td class="align-middle text-center"><%= item.NRO_TDC_3 %></td>
							      <td class="align-middle text-center"><%= item.NRO_TDC_4 %></td>
							      <td class="align-middle text-center"><%= item.CALIFICA_ARCHIVO %></td>
							      <td class="align-middle text-center"><%= item.LIMITE_CONSOLIDADO_USD %></td>
							      <td class="align-middle text-center"><%= item.LIMITE_CONSOLIDADO_IDI %></td>
							      
							    </tr>
							    <% }); %>
							</tbody>
						</table>
						</div>
						<footer class="page-footer">			
							<p>Gerencia Admisión Crédito Estandarizado - Banco de Venezuela</p>			
						</footer>
					</div>
				</div>
			</div>
			<div class="text-center mt-4 mb-4">
				<a href="/consulta"><button class="btn btn-banco"><i class="fa fa-arrow-left"></i> Volver al inicio</button></a>				
			</div>
		</div>

		<script src="js/jquery.min.js"></script>
	    <script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="js/script.js"></script>
	</body>
</html>
